# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# SQLModel / DB
*.sqlite3

# Node / frontend
node_modules/
frontend/.next/
frontend/node_modules/
frontend/.turbo/
frontend/.cache/

# Backend nested repo
backend/.git/

# Docker
.dockerignore